@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Customer</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tbUser" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>FullName</th>
                                <th>UserName</th>
                                <th>Phone</th>
                                <th>Email</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>



@section scripts
{
    <script>
        $(document).ready(function () {
            LoadTable();
        });
        function LoadTable() {
            $.ajax({
                type: "POST",
                url: '/Admin/Customer/GetListUser',
                success: function (data) {
                    $('#tbUser').DataTable({
                        data: data,
                        destroy: true,
                        columns: [
                            { "data": "Name" },
                            { "data": "UserName" },
                            { "data": "Phone" },
                            { "data": "Email" }

                        ],

                    });
                }
            });

        }


    </script>
}