
@{
    ViewBag.Title = "_Footer";
}



<!-- Footer -->
<footer id="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
                    <div class="block text">
                        <div class="block-content">
                            <a href="home-2.html" class="logo-footer">
                                <img src="/Images/logo-2.png" alt="Logo">
                            </a>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisc ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                                Ut enim ad minim veniam, quis nostrud exercita tion ullamco laboris nisi ut aliquip.
                            </p>
                        </div>
                    </div>

                    <div class="block social">
                        <div class="block-content">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
                    <div class="block menu">
                        <h2 class="block-title">Information</h2>

                        <div class="block-content">
                            <ul>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">New products</a></li>
                                <li><a href="#">Best sellers</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Our stores</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
                    <div class="block menu">
                        <h2 class="block-title">Your Account</h2>

                        <div class="block-content">
                            <ul>
                                <li><a href="#">My orders</a></li>
                                <li><a href="#">My merchandise returns</a></li>
                                <li><a href="#">My credit slips</a></li>
                                <li><a href="#">My addresses</a></li>
                                <li><a href="#">My personal info</a></li>
                                <li><a href="#">My vouchers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
                    <div class="block text">
                        <h2 class="block-title">Contact Us</h2>

                        <div class="block-content">
                            <div class="contact">
                                <div class="item d-flex">
                                    <div>
                                        <i class="fa fa-location-arrow"></i>
                                    </div>
                                    <div>
                                        <span>Số 15 Đông Quan, Phường Quan Hoa, Quận Cầu Giấy, TP Hà Nội</span>
                                    </div>
                                </div>
                                <div class="item d-flex">
                                    <div>
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div>
                                        <span>0369 566 996</span>
                                    </div>
                                </div>
                                <div class="item d-flex">
                                    <div>
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <div>
                                        <span><a href="mailto:nminh978@gmail.com">nminh978@gmail.com</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
  
</footer>

